* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

li{
  list-style: none;
}

body{
  height: 100vh;
}

.container{
  background-color: #000;
  height: 100%;
}

.container::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

/* ---------- NAVBAR ------------ */
section[aria-label="navbar"]{
  position: relative;
  height: 20%;
}

.navbar>div{
  display: inline-block;
}

.navbar>div:first-child{
  width: 10%;
  position: absolute;
  left: 80px;
  top: 40px;
}

.navbar img{
  width: 130px;
}

.navbar>div:nth-child(2){
  width: 40%;
  position: absolute;
  left: 500px;
  top: 56px;
}

.list{
  width: fit-content;
  margin: 0 auto;
}

.list-item{
  display: inline-block;
  margin: auto 30px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFC233;
}

.navbar button{
    width: 150px;
    position: absolute;
    right: 90px;
    top: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: #FF505F;
    color: #fff;
    border: none;
}


/* ---------- HERO ------------ */

section[aria-label="hero"]{
  position: relative;
  height: 80%;
}

.hero{
  height: 100%;
}

.hero .hero-heading{
  position: absolute;
  left: 18%;
  top: 40px;
  width: 65%;
  font-size: 7rem;
  font-weight: 500;
  line-height: 8rem;
  font-family: 'Dela Gothic One';
  text-align: center;
  color: #FFC233;
}

.hero .button-large{
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #FF505F;
  position: absolute;
  bottom: 17rem;
  left: 35%;
  padding: 20px 70px;
}

.hero img{
  width: 200px;
  position: absolute;
  bottom: 50px;
  right: 60px;
}

